
:root {
    --board-size: calc(var(--field-size) + 100px);
    --tile-size: 100px;
    --trans-time: 0.1s;
}

body {
    overscroll-behavior: none;
}

#board {
    background-color: steelblue;
    margin: calc(100vh / 2 - (var(--board-size) + var(--tile-size)) / 2) auto;
    width: var(--board-size);
    height: calc(var(--board-size) + var(--tile-size));
    position: relative;
}

#field {
    background-color: lightskyblue;
    margin-top: calc((var(--board-size) - var(--field-size)) / 2);
    margin-left: calc((var(--board-size) - var(--field-size)) / 2);
    width: var(--field-size);
    height: var(--field-size);
    position: absolute;
} 
#switchfield {
    position: absolute;
    width: var(--tile-size);
    height: var(--tile-size);

    background-color: lightskyblue;
    margin-top: calc(var(--field-size) + (var(--board-size) - var(--field-size)) / 2);
    margin-right: calc((var(--board-size) - var(--field-size)) / 2);
    right: 0;
}

.tile {
    z-index: 10; 
    position: absolute;
    overflow: hidden; /*crops image to size of parent div*/

    width: calc(var(--tile-size));
    height: calc(var(--tile-size));
    margin-left: calc(var(--x) * var(--tile-size));
    margin-top: calc(var(--y) * var(--tile-size));

    background-color: black;
    background: url('/img/moonlanding.jpg') var(--posx) var(--posy);
    background-size: var(--field-size) var(--field-size);

    transition-property: margin-left, margin-top;
    transition-duration: var(--trans-time);
    transition-timing-function: ease-in-out;
}

.tile > img {
    z-index: -10;
    position: absolute;
    margin-left: var(--posx);
    margin-top: var(--posy);
    width: var(--field-size);
    height: var(--field-size);
}

